## Blockchain
# Files created after runing install-fabric.sh
config/
bin/
builders/

# stores genesis block, which should not be uploaded
blockchain/artifacts/*
!blockchain/artifacts/.gitkeep

# peer and orderer organizarion config created automatically
blockchain/organizations/peerOrganizations
blockchain/organizations/ordererOrganizations

#fabric ca dependencies
blockchain/organizations/fabric-ca/ordererOrg/*
#!blockchain/organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
blockchain/organizations/fabric-ca/org1/*
#!blockchain/organizations/fabric-ca/org1/fabric-ca-server-config.yaml
blockchain/organizations/fabric-ca/org2/*
#!blockchain/organizations/fabric-ca/org2/fabric-ca-server-config.yaml

# container ids for control of your ouw network
blockchain/scripts/container_ids.txt

# Used to store log errors or informations in scripts
blockchain/scripts/log.txt
blockchain/scripts/*.tar.gz

## API
node_modules
.env